header {
  color: crimson;
  font-size: 150%;
  border: 14px solid currentColor;
  width: 150px;
  height: 120px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0 10px 0;
}

header a{
  text-decoration: none;
  color: crimson;
}

header a:hover, header:hover{
  color:white;
}


.ull { 
  display:table;
  margin:0 auto;
}

.nobul {
  list-style: none;
  padding-left: 0;
}

body {
  text-align: center;
  background-image: url("./test.png");
  color: white;
}
